{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}关于 | 全杰是也{% endblock title %}

{% block main %}
    <article class="about">
        <div class="about-title">关于</div>
        <div class="reference">Will you be my witness?</div>
        <div class="about-content">
            <figure class="avatar">
                <img src="{% static 'blog/img/avatar.jpg' %}" alt="全杰是也"/>
            </figure>
            <div>来自四川德阳，电子科技大学计算机科学与工程学院硕士研究生。</div>
            <div class="about-section-title">爱好</div>
            <div>编程：Android | 前端</div>
            <div>音乐：欧美流行 | 电子音乐 | 舞曲 | 另类音乐 | 唱作歌手</div>
            <div>摄影</div>
            <div>旅行</div>
            <div>游戏：<a href="https://minecraft.net/"><img src="{% static 'blog/img/minecraft.svg' %}" class="minecraft" alt="Minecraft"></a></div>
            <div class="about-section-title">联系方式</div>
            <div class="contact">
                <a href=mailto:zxjue@outlook.com><span class="fas fa-envelope"></span></a>
                <a href="https://twitter.com/zacjact1568"><span class="fab fa-twitter"></span></a>
                <a href="https://www.instagram.com/zacjact1568/"><span class="fab fa-instagram"></span></a>
                <a href="https://t.me/zacjact1568"><span class="fab fa-telegram"></span></a>
                <a href="https://github.com/zacjact1568"><span class="fab fa-github"></span></a>
                <a href="http://weibo.com/zacjact1568"><span class="fab fa-weibo"></span></a>
            </div>
            <div class="about-section-title">网站</div>
            <div>
                <span>本网站托管于</span>
                <a href="https://www.vultr.com"><img src="{% static 'blog/img/vultr.svg' %}" class="vultr" alt="Vultr"></a>
                <span>洛杉矶机房，由</span>
                <a href="https://www.djangoproject.com"><img src="{% static 'blog/img/django.svg' %}" class="django" alt="Django"></a>
                <span>强力驱动。</span>
            </div>
            <div class="about-section-title">推广</div>
            <div>如果你也想购买 Vultr 的 VPS，欢迎使用我的<a href="https://www.vultr.com/?ref=7260027" class="underline">推荐链接</a>。</div>
        </div>
    </article>
{% endblock main %}
