{% extends 'base.html' %}

{% block main %}
    <h1 class="page-title">关于</h1>
    <article class="post">
        <div class="entry-content clearfix">
{#            <figure class="img-responsive-center">#}
{#                <img class="img-responsive" src="img/me.jpg" alt="Developer Image">#}
{#            </figure>#}
            <p>
                来自四川德阳，电子科技大学计算机科学与工程学院硕士研究生。
            </p>
            <div class="height-40px"></div>
{#            <h2 class="title text-center">Social</h2>#}
{#            <ul class="social">#}
{#                <li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>#}
{#                <li class="twitter"><a href="#"><span class="ion-social-instagram"></span></a></li>#}
{#                <li class="twitter"><a href="#"><span class="ion-social-github"></span></a></li>#}
{#                <li class="twitter"><a href="#"><span class="ion-social-apple"></span></a></li>#}
{#            </ul>#}
        </div>
    </article>
{% endblock main %}
